<div *ngIf="search">
    <div class="container-fluid">
        <div class="form-row">
            <div class="form-inline col">
                <div class="input-group ">
                    <label class="mr-sm-2 sr-only" for="from">Enter date from</label>
                    <input #from class="form-control" placeholder=" from: yyyy-mm-dd" name="dp" [(ngModel)]="start"
                        (dateSelect)="getOneCar()" ngbDatepicker #d="ngbDatepicker" [markDisabled]="isDisabledList"
                        [minDate]="minDateStart" [maxDate]="{year: 2048, month: 12, day: 31}">
                    <div class="input-group-append">
                        <button class="form-control" (click)="d.toggle()" type="button"><i
                                class="far fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-inline col">
                <div class="input-group">
                    <label class="mr-sm-2 sr-only" for="to">Enter date to</label>
                    <input #to class="form-control" placeholder="to: yyyy-mm-dd" name="dp" [(ngModel)]="end"
                        (dateSelect)="getOneCar()" ngbDatepicker #de="ngbDatepicker" [minDate]="minDateEnd"
                        [maxDate]="maxDateEnd">
                    <div class="input-group-append">
                        <button class="form-control" (click)="de.toggle()" type="button"><i
                                class="far fa-calendar-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="car" class="bg-dark text-white-50">
        <img class="col-12 col-md-6 align-middle" src="{{imagesFolder}}/{{car.modelImageName}}">
        <div class="col-12 col-md-6 align-middle">
            <h5>{{car.manufacturerName}} {{car.modelName}}</h5>
            <p> {{car.modelPrice}}</p>
            <p> {{car.carLicenseNumber}}</p>
            <p *ngIf="car.numberOfDays">Rental Range: {{car.startDate|date}} - {{car.finishDate|date}}</p>
            <p *ngIf="car.numberOfDays">Number of rental days: {{car.numberOfDays}}</p>
            <p *ngIf="car.totalCost">TotalCost {{car.totalCost}}</p>
            <p ngClass="warning" *ngIf="!car.startDate">Please choose start rental date</p>
            <p ngClass="warning" *ngIf="!car.finishDate">Please choose finish rental date</p>
            <p ngClass="warning" *ngIf="car.numberOfDays<1 && car.finishDate && car.startDate">Please, fix your dates
            </p>
            <button class="btn btn-primary" [disabled]="!car.startDate || !car.finishDate|| car.numberOfDays<1"
                (click)="setOrder()" routerLink="/order">Order</button>
        </div>
    </div>
    <div>
        <h4 *ngIf="message" ngClass="warning">{{message}}</h4>
    </div>
</div>